<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TODOs</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!--TODOs-->
    <h1>TODOs</h1>
    {% for todo in todos %} {% if todo.done %}
    <p><strike>{{ todo }}</strike></p>
    {% else %}
    <p>{{ todo}}</p>
    {% endif %}
      <a href="/edit/{{ todo.id }}">Edit</a>
      <a href="/toggle/{{ todo.id }}">Toggle</a>
      <a href="/delete/{{ todo.id }}">Delete</a>
      {% endfor %}
      <br />
      <br />
      <a href="{% url 'add_todo' %}">Add Todo</a>
      <script src="index.js"></script>
    </p>
  </body>
</html>
