<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TODOs</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!--TODOs-->
    <h1>TODOs</h1>
    {% for todo in todos %}
    <p>{{ todo }}</p>
    <a href="/edit/{{ todo.id }}">Update</a>
    <a href="/delete/{{ todo.id }}">Delete</a>
    {% endfor %}
    <br />
    <br />
    <a href="{% url 'add_todo' %}">Add Todo</a>
    <script src="index.js"></script>
  </body>
</html>
